@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

/*
https://fixarium.co/
*/

:root {
  --secondary-color: #ef3737;
  --terciary-color: #252525;
  --main-backgound-color: #46454a;
  --line-color: #3a3a3a;
  --line-gray-color: #eaeaea;
  --text-gray-color: #b0b0b0;

  font-family: Questrial, sans-serif;
}

.hidden {
  display: none;
}

html,
body {
  min-width: 640px;
}

body {
  margin: auto;
  border: 1px solid black;
  font-family: Gilroy, HelveticaNeue-Light, 'Helvetica Neue Light',
    'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;

  @media screen and (width<=1450px) {
    grid-template-columns: 1fr 3fr 1fr;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: var(--line-gray-color) 1px solid;
    padding-inline: 20px;

    h1 {
      font-size: 3em;
      color: black;
      font-weight: bold;
    }
  }

  .searchbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 50px;

    @media screen and (width<=1450px) {
      justify-content: center;
    }

    form {
      display: flex;
      border: var(--line-gray-color) 1px solid;
      padding: 10px;

      i {
        color: var(--secondary-color);
        margin-right: 10px;
      }

      input {
        border: none;
        flex-grow: 1;
      }

      button {
        border: none;
        color: white;
        background-color: var(--secondary-color);
        border-radius: 5px;
        margin-left: auto;
      }
    }

    nav {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 0;
        list-style: none;

        li {
          a {
            text-decoration: none;
            color: black;
            text-wrap: nowrap;
          }
        }
      }
    }
  }

  .info-and-icons {
    margin-top: 20px;
    display: flex;
    align-items: baseline;
    text-wrap: nowrap;
    justify-self: end;
    gap: 20px;

    section {
      border-right: var(--line-gray-color) 1px solid;
      padding-right: 20px;

      h2 {
        font-size: 16px;
      }
    }

    .user-icons {
      border-right: none;
      margin-top: 15px;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 0;
      margin-left: 0;
      text-wrap: wrap;
      margin-right: 25px;

      span {
        font-size: 18px;
      }
    }

    section i {
      margin-right: 10px;
    }

    @media screen and (width<=1450px) {
      flex-direction: column;
      margin: 0;
      gap: 0;

      section {
        border: none;

        h2 {
          margin-top: 10px;
          margin-bottom: 0;
        }

        p {
          margin: 0;
        }
      }
    }

    @media screen and (width<=1070px) {
      display: none;
    }
  }

  nav {
    gap: 30px;

    ul {
      display: flex;
      list-style: none;
      gap: 30px;
    }

    a {
      text-decoration: none;
      font-weight: bold;
    }
  }

  i {
    font-size: 25px;
  }

  span {
    font-weight: bold;
  }
}

main {
  .main-banner {
    height: 800px;
    background-color: var(--main-backgound-color);

    article {
      margin-left: 300px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      height: 100%;
      background-image: url('../images/mainproduct-1.png');
      background-repeat: no-repeat;
      background-position: 450px;
      color: white;

      h2 {
        color: white;
        font-size: 100px;
        font-weight: 700;
        margin: 0;
      }

      p:first-child {
        color: white;
        font-size: 16px;
      }

      p {
        color: var(--secondary-color);
        font-size: 40px;
        font-weight: bold;

        span {
          color: white;
          font-size: 25px;
          text-decoration: line-through;
        }
      }

      a {
        color: black;
        background-color: white;
        padding: 10px 30px;
        border-radius: 5px;
        text-decoration: none;
      }
    }
  }

  .offers {
    display: flex;
    justify-content: center;
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;

    .offer1 {
      width: 660px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: start;
      padding: 82px 100px;
      background-image: url('../images/offer1.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;

      div {
        color: black;
        background-color: #f7c162;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: 700;
      }

      h3 {
        margin-top: 20px;
        margin-bottom: 0;
        color: white;
        font-size: 50px;
      }

      p {
        margin-bottom: 25px;
        color: white;
      }

      a {
        color: black;
        font-size: 14px;
        background-color: white;
        padding: 10px 30px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
      }
    }

    .offer2 {
      width: 360px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: start;
      padding: 45px 50px;
      background-image: url('../images/offer2.jpg');
      background-repeat: no-repeat;
      background-size: cover;

      div {
        color: white;
        background-color: #ff5740;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: 700;
      }

      h3 {
        margin-top: 20px;
        margin-bottom: 10px;
        color: white;
        font-size: 36px;
      }

      a {
        color: black;
        font-size: 14px;
        background-color: white;
        padding: 10px 30px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }

  .products {
    padding-block: 80px;

    h2 {
      text-align: center;
      font-size: 50px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0;
      margin-bottom: 10px;
    }

    h3 {
      text-align: center;
    }

    p {
      text-align: center;
      margin-bottom: 50px;
      color: var(--text-gray-color);
    }

    img {
      display: block;
      margin: auto;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    button {
      display: block;
      margin: auto;
      background-color: var(--terciary-color);
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      margin-top: 25px;
      cursor: pointer;
    }

    .grid {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
      padding: 0;

      li {
        border: var(--line-gray-color) 1px solid;
        padding: 25px;

        .type {
          color: var(--text-gray-color);
          font-weight: normal;
        }

        p {
          color: var(--secondary-color);
          font-weight: bold;
        }
      }

      @media screen and (width<=1280px) {
        grid-template-columns: repeat(4, 1fr);
      }

      @media screen and (width<=1024px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media screen and (width<=768px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .best-sellers {
    h2 {
      text-align: center;
      font-size: 50px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0;
      margin-bottom: 10px;
    }

    .grid {
      width: 80%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      article:first-child {
        height: 700px;
        grid-column: 1;
        grid-row: 1 / span 2;
        background-image: url('../images/bestseller-1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
          display: flex;
          justify-content: center;
          color: yellow;
          font-weight: bold;
          text-transform: uppercase;
        }

        h3 {
          color: white;
          font-size: 80px;
          text-align: center;
          margin: 0;
        }

        p {
          text-align: center;
          color: #a25456;
          font-size: 24px;
          font-weight: 500;
          margin: 0;
        }
      }

      article:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
        background-image: url('../images/bestseller-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: end;

        .container {
          margin-left: 20px;
          color: white;
          font-weight: bold;
          padding-right: 40px;

          div {
            background-color: var(--secondary-color);
            padding: 5px 10px;
            border-radius: 5px;
            width: fit-content;
          }

          h3 {
            font-size: 34px;
          }

          p {
            color: var(--secondary-color);
            font-size: 24px;
          }

          span {
            color: white;
          }

          a {
            text-decoration: none;
            color: black;
            background-color: white;
            padding: 10px 20px;
            border-radius: 5px;
          }
        }
      }

      article:nth-child(3) {
        grid-column: 2;
        grid-row: 2;
        background-image: url('../images/bestseller-3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;

        .container {
          margin-left: 20px;
          color: white;
          font-weight: bold;

          div {
            background-color: #f9dc42;
            color: black;
            padding: 5px 10px;
            border-radius: 5px;
            width: fit-content;
          }

          h3 {
            font-size: 34px;
          }

          p {
            color: #f9dc42;
            font-size: 24px;
          }

          span {
            color: white;
          }

          a {
            text-decoration: none;
            color: black;
            background-color: white;
            padding: 10px 20px;
            border-radius: 5px;
          }
        }
      }
    }
  }

  .latest-news {
    padding-top: 80px;
    margin-bottom: 80px;

    h2 {
      text-align: center;
      font-size: 50px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0px;
      margin-bottom: 10px;
    }

    h5 {
      text-align: center;
      margin-bottom: 50px;
      color: var(--text-gray-color);
    }

    img {
      width: 410px;
      height: 460px;
      object-fit: cover;
    }

    .wrap {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;

      @media screen and (width<=1300px) {
        flex-direction: column;
      }

      article {
        height: 500px;
      }

      article:hover {
        p:nth-child(3) {
          padding-block: 15px;
          background-color: var(--secondary-color);
          color: white;
          width: 340px;
          text-align: center;
        }
      }

      div {
        position: relative;
        top: -170px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 340px;
        height: 165px;
        background-color: white;

        p:nth-child(1) {
          margin-bottom: 10px;
          margin-top: 100px;
          color: var(--secondary-color);
        }

        h3 {
          margin: 0;
          margin-bottom: 40px;
          margin-inline: 20px;
          text-align: center;
        }

        p:nth-child(3) {
          padding-block: 15px;
          background-color: #252525;
          color: white;
          width: 340px;
          text-align: center;
        }
      }
    }
  }

  .comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 30px 80px;

    i {
      color: var(--secondary-color);
      font-size: 50px;
      margin-bottom: 20px;
    }

    cite {
      max-width: 600px;

      p {
        text-align: center;
      }

      p:first-child {
        margin-bottom: 30px;
      }

      p:last-child {
        font-weight: bold;
      }
    }
  }

  .brands {
    border-top: var(--line-gray-color) 1px solid;

    div {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      gap: 50px;
      flex-wrap: wrap;
    }

    img {
      margin: auto;
      padding-block: 55px;
    }
  }

  .bot-images {
    display: flex;
    width: 100%;
    overflow: hidden;

    img {
      object-fit: cover;
      max-width: 100%;
      aspect-ratio: 1/1;
    }
  }

  /* Mostrar 5 im치genes */
  @media screen and (width<=1600px) {
    .bot-images img:first-of-type {
      display: none;
    }
  }

  /* Mostrar 4 im치genes */
  @media screen and (width<=1280px) {
    .bot-images img:nth-of-type(2) {
      display: none;
    }
  }

  /* Mostrar 3 im치genes */
  @media screen and (width<=960px) {
    .bot-images img:nth-of-type(3) {
      display: none;
    }
  }

  /* Mostrar 2 im치genes */
  @media screen and (width<=640px) {
    .bot-images img:nth-of-type(4) {
      display: none;
    }
  }
}

footer {
  background-color: var(--terciary-color);
  color: white;

  i {
    color: var(--secondary-color);
  }

  .footer-top {
    padding-block: 60px;
    border-bottom: var(--line-color) 1px solid;

    & > div {
      display: flex;
      justify-content: space-between;
      margin: auto;
      width: 75%;

      @media screen and (width<=1024px) {
        flex-direction: column;
        width: 300px;
      }

      article {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (width<=1024px) {
          justify-content: start;
        }

        i {
          font-size: 30px;
          margin-right: 20px;
          border-radius: 50%;
          padding: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: var(--secondary-color) 2px solid;
        }

        div h3 {
          margin-bottom: 0px;
        }

        div p {
          margin-top: 10px;
        }
      }
    }
  }

  .footer-middle {
    display: flex;
    width: 75%;
    margin: auto;
    margin-block: 100px;

    @media screen and (width<=1280px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    p {
      color: var(--text-gray-color);
    }

    span {
      color: white;
    }

    div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 20px;
      margin-right: 30px;

      span {
        font-weight: bold;

        span {
          font-size: 2.5em;
        }
      }

      i {
        font-size: 40px;
        margin-right: 15px;
      }

      @media screen and (width<=1280px) {
        grid-column: 1 / span 2;
        grid-row: 1;
      }
    }

    .footer-middle-categories {
      padding-right: 75px;

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 20px;
          color: var(--text-gray-color);
        }
      }
    }

    .newsletter {
      margin: auto;
      padding-left: 75px;
      border-left: var(--line-color) 1px solid;

      form {
        padding: 10px;
        border-radius: 5px;
        border: var(--line-color) 1px solid;
        display: flex;

        input {
          background-color: var(--terciary-color);
          border: none;
        }

        input::placeholder {
          color: white;
        }

        button {
          background-color: var(--secondary-color);
          padding: 10px;
          border: none;
          border-radius: 5px;
          color: white;
        }
      }

      @media screen and (width<=1280px) {
        border: none;
        padding: 0;
        margin: 0;
        flex: row;
        justify-self: start;

        input {
          width: 100%;
        }
      }
    }
  }

  .footer-bottom {
    padding-block: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: var(--line-color) 1px solid;

    div {
      display: flex;
      justify-content: space-between;
      margin: auto;
      width: 75%;

      @media screen and (width<=1200px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        display: inline-block;
        padding-inline: 10px;

        i {
          color: white;
        }

        img {
          width: 40px;
          height: 26px;
        }
      }
    }
  }
}
